$backgroundImage: url(../img/m-h-night.jpg);
$backgroundColor: rgb(33,35,46);
$titleLinkColor: white;
$fontFamily: 'Fresca', sans-serif;
$fontFamilyHeder: 'Hind', sans-serif;
$headerTextColor:  white;
$headingColor: white;
$bannerColorText: rgb(235, 219, 195);
$buttonColor: rgb(227,172,0);
$buttonTextColor:white;
$underlineColor: rgb(225,78,51);
$cardBackground: rgb(59,63,80);
$fromColor: rgb(226, 171, 0);
$toColor: rgb(146, 43, 84);
$cardOneUnderlineBottom: 150px;

@mixin  headerContent($backgroundImage, $headerTextColor) {
    background-image: $backgroundImage;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
    padding: 10%;
    padding-top: 30px;
    border-bottom-right-radius: 25% 250px;
    color: $headerTextColor;
}

@mixin logo {
    img {
        width: 70px;
        height: 70px;
      }
      p {
          font-size: 30px;
          font-weight: bold;
          line-height: 20px;
          margin: 15px 15px; 
          display: flex;
          flex-direction: column;
          span {
            text-align: center;
            font-size: 15px;
            font-weight: 100;
          }
        }     
}

@mixin cardOneUnderline ( $cardOneUnderlineBottom) {
    &:after {
        content: "";
        display: block;
        padding: 5px;
        margin: 0px;
        height: 4px;
        width: 190px;
        position: absolute;
        bottom: $cardOneUnderlineBottom;
        left: 85px;
        background-color: $underlineColor;
        z-index: 1;
     }
}

