$backgroundImage: url(../img/m-h-day.jpg);
$backgroundColor: white;
$titleLinkColor: white;
$fontFamily: 'Hind', sans-serif;
$fontFamilyHeder: 'Hind', sans-serif;
$headerTextColor:  rgb(44,47,60);
$headingColor: rgb(44,47,60);
$bannerColorText: rgb(170, 172, 180);
$buttonColor: rgb(105,153,0);
$buttonTextColor:white;
$underlineColor: rgb(20,160,199);
$cardBackground: rgb(33,35,46);
$fromColor: rgb(104, 152, 0);
$toColor: rgb(43, 89, 221);
$cardOneUnderlineBottom: 205px;

@mixin  headerContent($backgroundImage, $headerTextColor) {
    background-image: $backgroundImage;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
    padding: 10%;
    padding-top: 30px;
    border-bottom-right-radius: 25% 250px;
    color: $headerTextColor;
}

@mixin logo {
    img {
        width: 70px;
        height: 70px;
      }
      p {
          font-size: 30px;
          font-weight: bold;
          line-height: 20px;
          margin: 15px 15px; 
          display: flex;
          flex-direction: column;
          span {
            text-align: center;
            font-size: 15px;
            font-weight: 100;
          }
        }     
}

@mixin cardOneUnderline ( $cardOneUnderlineBottom) {
    &:after {
        content: "";
        display: block;
        padding: 5px;
        margin: 0px;
        height: 4px;
        width: 190px;
        position: absolute;
        bottom: $cardOneUnderlineBottom;
        left: 85px;
        background-color: $underlineColor;
        z-index: 1;
     }
    
}