body {
  margin: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 12%;
  padding: 32px 0;
}

.nav-logo {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #777;
}

.nav {
  width: 400px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  display: inline-block;
  font-size: 19px;
  color: #777;
  transition: color 0.4s;
}

.nav-item:hover {
  cursor: pointer;
  color: #bfba55;
}

.hero-box {
  width: 100%;
  height: 900px;
  margin: 0 auto;
  background-color: #000;
}

.hero {
  width: 100%;
  height: 900px;
  margin: 0 auto;
  background-image: url(../img/home-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: .4;
}

.hero-content {
  text-align: center;
  position: relative;
  top: 43%;
}

.hero-title {
  font-size: 90px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
}

.hero-text {
  color: #bfba55;
  letter-spacing: 1px;
}

.hero-button {
  text-transform: uppercase;
  color: #777;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 40px;
  width: 150px;
  border-radius: 30px;
  border: none;
  transition: color .4s;
  transition: background-color .4s;
}

.hero-button:hover {
  background-color: #bfba55;
  color: #FFFFFF;
}

.container {
  margin: 60px auto 0;
  max-width: 60%;
}

.post {
  margin-top: 70px;
}

.post-img {
  width: 100%;
}

.post-title {
  font-size: 30px;
  font-weight: bold;
}

.post-info {
  display: flex;
  min-width: 35%;
}

.post-info-avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.post-info-name,
.post-info-time,
.post-info-comments {
  margin-left: 20px;
  color: #777;
}

.post-text {
  color: #777;
}

.post-button {
  margin: 20px 0 40px 0;
  height: 45px;
  width: 150px;
  border-radius: 20px;
  background-color: #FFFF;
  color: #777;
  font-weight: bold;
  border: 1px solid #777;
  transition: color .4s;
  transition: background-color .4s;
}

.post-button:hover {
  color: white;
  background-color: #bfba55;
}

.footer {
  height: 400px;
  background-color: #000;
}

.footer-info {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  margin: 0 auto;
  padding: 100px;
}

.footer-info-section-1,
.footer-info-section-2 {
  width: 35%;
}

.footer-text {
  color: #777;
}